/* 主界面模块样式 */
.mainSty{
    flex-grow:1;
    display:flex;
    flex-wrap:wrap;
    align-content: flex-start;
    justify-content:flex-end;
    width:100%;
    height:0;
    overflow:hidden;
}
/* 音乐界面模块样式 */
.musicSty{
    flex-grow:1;
    display:flex;
    flex-wrap:wrap;
    align-content: flex-start;
    justify-content:flex-start;
    width:100%;
    height:0;
    overflow:hidden;
}
/* 文章界面模块样式 */
.articleSty{
    flex-grow:1;
    display:flex;
    flex-wrap:wrap;
    /* flex-direction:column;  */
    align-content: flex-start;
    justify-content:flex-start;
    width:100%;
    height:0;
    overflow:hidden;
}
.articleContSty{
    width: 80%;
    height:100%;
    box-sizing: border-box;
    display:flex;
    flex-wrap:wrap;
   
}
/* 代码界面模块样式 */
.codeSty{
    flex-grow:1;
    display:flex;
    flex-wrap:wrap;
    align-content: flex-start;
    justify-content:flex-start;
    width:100%;
    height:0;
    
}